/* Body */
html {
    font-size: 62.5%;
}

body{
    background-color: #FCF0EC;
}

*{
    box-sizing: border-box;
}

/* Headings and pharagraph styles */

.no-scroll {
    overflow: hidden;
}

h1{ 
    font-family: "Quicksand";
    font-size: 4.5rem;
    color: #F05B5C;  
    font-weight: 500;
    line-height: 5.5rem;
    margin: 0;
}

h1.black{ 
    color: #121212;
}

h2{
    font-family: "Quicksand";
    font-size:3.75rem; 
    font-weight: 500;
    color: #121212;
    line-height: 4.75rem;
    margin: 0;
}


h3{
    font-family: "Quicksand";
    font-size:3.25rem; 
    font-weight: 500;
    color: #121212;
}


h4{
    font-family: "Quicksand";
    font-size:2.75rem; 
    font-weight: 500;
    color: #121212;
    line-height: 3.75rem;  
}


h5{
    font-family: "Quicksand";
    font-size:2.25rem; 
    font-weight:300;
    color: #121212; 
    line-height: 3rem; 

}


p{
    font-family:"Open Sans";
    font-size: 1.8rem;
    font-weight:300;
    color: #2b2b2b; 
    line-height: 2.8rem;  
}


p.category{
    font-size: 1.5rem;
    color: #202020;
    line-height: 2.3rem;
}


/* Header */
#menu{
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-top: 10px;
    box-sizing: border-box;

}

@media screen and (max-width: 860px) {
    #menu {
        height: 60px;
    }
}

#menu .logo {
    margin-left: 50px;
    width: auto;
    height: 80%;
}

@media screen and (max-width: 860px) {
    #menu .logo{
        margin-left: 25px;
    }
}

#menu .logo img{
    width: auto;
    height: 100%;
}

#menu .nav{
    margin-right: 50px;
}

#menu .nav .nav-icon4 {
    display: none;
    width: 40px;
    height: 30px;
    position: relative;
    margin: 0px auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

@media screen and (max-width: 860px) {
    #menu .nav{
        margin-right: 25px;
    }
   #menu .nav .nav-icon4 {
        display: block;
        position: absolute;
        z-index: 9;
        right: 25px;       
    }

    .nav .nav-icon4 span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: #121212;
        border-radius: 5px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
      }

    .nav-icon4 span:nth-child(1) {
        top: 0px;
        transform-origin: left center;
    }

    .nav-icon4 span:nth-child(2) {
        top: 15px;
        transform-origin: left center;
    }

    .nav-icon4 span:nth-child(3) {
        top: 30px;
        transform-origin: left center;
    }

    .nav-icon4.open span{
        background: #FCF0EC;   
    }

    .nav-icon4.open span:nth-child(1) {
        transform: rotate(45deg);
        top: 2px;
        left: 0px;
    }               

    .nav-icon4.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .nav-icon4.open span:nth-child(3) {
        transform: rotate(-45deg);
        top: 30px;
        left: 0px;
    }
    
}

#menu .nav ul {
}

@media screen and (max-width: 860px) {
    #menu .nav ul {
        display:none;   
    }
}

#menu .nav ul li {
    display: inline-block;
    margin: 20px;
    
}

#menu .nav ul li a {
    font-family:"Quicksand";
    font-size: 16px;
    font-weight: 600;
    color: #121212;
    text-decoration: none;
}

#menu .nav ul li a:hover {
   color:#F05B5C;
   transition: color 0.3s ease; 
}

/* Menu mobile */
/* Menu mobile */
.container-mobile{
    display:none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.container-mobile.open {
    display: block;
    background-color: #F05B5C;
    border-bottom-right-radius: 30px;
    align-content: center;
}

.container-mobile ul{
    padding:0px;
    margin-top: 80px;

}

.container-mobile ul li {
    list-style-type:none;
    text-align:center; 
    padding-top: 30px;
    padding-bottom: 30px;
    /* margin:30px;  */
    /* border-top:solid 1px #F05B5C ; */
}
.container-mobile a{
    font-family:"Quicksand";
    font-size: 28px;
    font-weight: 400;
    color: white;
    text-decoration: none 
}

.container-mobile a:hover{
    color: #FCF0EC;
}

/* Main */

.wrapper{
    max-width: 1200px;
    width: 100%;
    display: block;
    margin: auto;
}

/* Hero Section */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 100px 40px;
}


.hero .hero-image{
    flex-basis: 30%;
    align-self: center;
}

.hero-image img{
    width: 100%;
    height: auto;
}

.hero .hero-text{
    flex-basis: 60%;
    align-self: center;
}


.side-list{
    flex-basis: 35%;
    background-color:#fcf6f4;
    border-radius: 1.5rem;
    padding: 2.5rem;
    box-sizing: border-box;

}

.side-list p.strong{
    font-weight: 600 !important;
    font-family:"Quicksand";
    font-size: 1.5rem;
    font-weight: 600;
    color: #121212;
    line-height: 2rem;
    margin: 1rem 0 0 0;
}

.side-list p{
    font-family:"Quicksand";
    font-size: 1.5rem;
    color: #121212;
    line-height: 2.2rem;
    margin-top: 0;
}

.side-list a{
    font-family:"Quicksand";
    font-size: 1.5rem;
    color: #121212;
    line-height: 2.2rem;
    color:#0D87DB;
    background-repeat: no-repeat;
    background-position: left center;
    transition: all 0.3s ease;  
    text-decoration: none;
    margin-top: 0;
}

.side-list .image {
    margin: 0; /* Remove default margins */
    padding-bottom:1rem;
}

.side-list .image img {
    width: 100%;
    height: auto;
    border-radius: 1.5rem;
    display: block;
    object-fit: cover; /* Adjust as needed */
}

.hero-text p.category{ 
    color:#121212!important;
}

.hero-text p.category span{
    display:inline;
    font-weight: 500;
}

.hero-text p.category a.arrow{
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 500;
    color: #121212;
    background-image: url(../images/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 26px;
    transition: color 0.3s ease; 
}

.hero-text p.category a.arrow:hover{
    color:#F05B5C;
    transition: color 0.3s ease;
    background-image: url(../images/arrow-right-red.svg);
}

.hero-text p.category a.social-linkedin{
    background-image:url(../images/icon-linkedin.svg);
} 

.hero-text p.category a.social-dribbble{
    background-image:url(../images/icon-dribbble.svg);
}

.hero-text p.category a.social-mail{
    background-image:url(../images/icon-mail.svg);
}

.hero-text h4.intro{
    font-weight: 400;
    margin-top: 18px;
    margin-bottom: 24px;
    color:#2b2b2b;
}

.hero-text .title{
    display: flex; 
}

/* Hero about  */
.hero .row a{
    color:#0D87DB;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 24px;
    margin-left: 10px;
    margin-right: 10px;
    background-size: 50px;
    transition: all 0.3s ease;  
    text-decoration: none;
    display:inline-block;
    width: 50px;
    height: 50px;
    text-indent: -999999px;
    line-height: 50px;
}

.hero .row a.social-linkedin{
    background-image:url(../images/icon-linkedin.svg);
} 

.hero .row a.social-mail{
    background-image:url(../images/icon-mail.svg);
    margin-left: 30px;
}


@media screen and (max-width: 720px) {
    .hero.about .row p span {
        display:block;
    }
}


@media screen and (max-width: 860px) {
    .hero{
        flex-wrap: wrap;
        justify-content: center;
        padding: 60px 40px
    }

    .hero .hero-text h1{
        text-align: center;
    }

    .hero .hero-image{
        order: 1;
        flex-basis: 60%;
    }

    .hero-text p.category a{
        flex-wrap: wrap;
        align-items: center;
    }

    .hero-text p.category span{
        display: block;
        align-items: center;
    }
    
    .hero.about .row p span {
        display:block;
    }


}

/* Skills Section */


.my-skills{
    display: block;
    flex-wrap: wrap;
    padding: 40px 40px 20px 40px;
    background-color: white;
    border-radius:24px ;
    border:solid rgba(240,91,92, 0.15)
}

.my-skills  .title{
    display:block;
    margin-bottom: 3rem;
}

.my-skills .division{
    align-self: center;
    display: flex;
    margin: 0px 6px 8px 0px;
}

.my-skills h3{
    text-align: left;
    flex-basis: auto;
    line-height: 0;
}

.skill-flexy {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: inherit;
    align-content: flex-start;
    align-items: flex-start;
}

.skill-flexy .skill{
    flex-basis: calc( (94%/4)); 
    margin: 0 0 30px 16px;
}

.skill-flexy .skill .title-skill {
    display:flex;
    width: 100%;
    align-items: center;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1180px) {
    .skill-flexy .skill {
        flex-basis: calc( (94%/3));
    }
}

@media screen and (max-width:910px) {
    .skill-flexy .skill {
        flex-basis: calc( (94%/2));
    }
}

@media screen and (max-width:647px) {
    .skill-flexy .skill {
        flex-basis: 100%;
    }
}

.skill-flexy .skill .title-skill {
    display: flex;
    align-items: center; /* Aligns children vertically in the center */
}

.skill-flexy .skill .title-skill .material-icons {
    /* Optional: Add some right margin to the icon */
    margin-right: 10px;
}

.skill-flexy .skill h5{ 
    font-weight: 600 !important;
    margin: 0;
}

.skill-img{
    margin: 0px;
    width: 100%;
    text-align: left;
}

.skill-img img{
    width: 25%;
    height: auto;
    /* margin: auto; */
}


.skill ul {
    list-style: disc;/* Removes default bullet points */
    padding-left: 6px; /* Removes default padding */
    margin: 0px 12px; /* Adjusts margin to align with your design */
    font-size: 1.5rem; /* Matches paragraph font size */
    color: #202020; /* Matches paragraph color */
    line-height: 2.3rem; /* Matches paragraph line height */
}

.skill ul li {
    font-weight: 300; /* Matches paragraph font weight */
    font-family: 'Open Sans';
    margin-bottom: 1rem; /* Adds space between list items, adjust as needed */
}


/* Project Section */

.projects{
    padding: 40px 0px;
}

@media screen and (max-width: 860px) {
    .projects{
        padding:1rem;
    }
}

.projects .section-title{
    text-align:left;
    
}
.projects .title{
display: flex;
width: 100%;
align-items: center;
margin-bottom: 2rem;
Margin-left:40px;
}

.projects .title .division{
    align-self: center;
    display: flex;
    margin: 0px 6px 8px 0px;
}

.project{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:2rem;
    margin: 5rem 2.5rem;
}

.project-img{
    flex-basis: 50%;
    height: auto;
    margin:0;
}


.project-img img{
    width: 95%;
    height: auto;
}

.project-text{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 50%;
}


.project-text a.arrow{
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 500;
    color: #121212;
    background-image: url(../images/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 26px;
    transition: color 0.3s ease; 
}

.project-text a.arrow:hover{
    color:#F05B5C;
    transition: color 0.3s ease;
    background-image: url(../images/arrow-right-red.svg);
}
 
/*.project:nth-of-type(odd){
}

.project:nth-of-type(even){
    flex-direction: row-reverse;
}

.project:nth-of-type(even) .project-img{
    flex-basis: 45%;
}

.project:nth-of-type(even) .project-text{
    text-align: right;
    flex-basis: 50%;
}
*/

@media screen and (max-width: 860px) {
    .project{
        flex-wrap: wrap;
        justify-content: center;
        padding:1rem;
        display: flex;
    }

    .project p.category{
        display:none;
    }

    .project-img{
        flex-basis: 100%;
        align-self: center;
    }

    .project-text{
        flex-basis: 100%;
        text-align: left;
        margin: 1rem;
    }

    /*

    .project:nth-of-type(even) .project-img{
        flex-basis: 100%;
    }

    .project:nth-of-type(even) .project-text{
        flex-basis: 100%;
        text-align: center;
    }*/
}

/* Footer*/
footer {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

footer .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

footer .wrapper .footer-connect {
    display: inline-flex;
    flex-direction: row; 
    align-items: center;
}

footer .wrapper .brand {
   align-items: center;
   display: inline-flex;
   flex-basis: auto;
}

.brand img{
    height: 30px;
    width: auto;
    margin-right: 15px;
}

footer .brand p{
    font-size: 1.5rem;
    line-height: 2.3rem;
    text-align: right;
}

footer ul.social{
    padding:0;
}

footer ul.social li{
    display: inline-block;  
}

footer a.footer-linkedin{
    display: block;
    width: 50px;
    height: 50px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-image: url(../images/icon-linkedin.svg);
    margin-left: 20px;
}

footer a.footer-email{
    display: block;
    width: 50px;
    height: 50px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-image: url(../images/icon-mail.svg);
    margin-left: 20px;
}

a.contact{ 
    font-family:"Vollkorn";
    font-size: 20px;
    font-weight: regular;
    color:#121212;
    text-decoration: none;  
}

a:hover {
    opacity: .8;
    transition: color 0.3s ease;  
}

@media screen and (max-width: 860px) {
    footer{
        margin-bottom: 40px;
    }
    footer .wrapper{
        flex-direction: column;
    }
    footer .wrapper .footer-connect{
        flex-direction: column; 
    }
    footer .wrapper .footer-connect h4{
        text-align: center;
        line-height: 0;
    }
    footer a.footer-linkedin{
        margin-left: 0px;  
    }
    footer .wrapper .footer-connect{
        flex-wrap: wrap;
        justify-content: center;
    }  
    footer a.footer-email{
        margin-right: 0px;  
    }
    footer p{
        text-align: center;
    }
}

/* ------------------------------------------
------------PROJECT PAGE STYLES -------------
-------------------------------------------*/

/* start hero */

.breadcrumbs{
    padding-top: 20px;
    padding-left: 50px;
    /* margin-left:24px; */
}
ul.pagination{
    padding: 5px 15px;
    background-color:#fcf6f4;
    border-radius: 30px;
    width: fit-content;
}

ul.pagination li{
    /* margin:10px; */
    display: inline;
    align-self: left;
    font-family: "Open Sans";
    font-size: 12px;
    color:#121212;
}

ul.pagination li+li:before {
    padding: 8px;
    color: #121212;
    content: "/\00a0";
}

ul.pagination li a{
    color: #0D87DB;
    text-decoration: none;
}

ul.pagination li a:hover{
    color:#0865A5;
    transition: color 0.3s ease;
}

.project-hero{
    display: block;
    padding: 10px 70px 30px 70px;
}

.project-hero .cover{
    display:flex;
    align-content:center; 
    padding: 30px 0px 0px 0px;

}
.hero .project-img{
    flex-basis: 60%;
    flex-direction:row ;
    align-self: right;
}

.hero .project-img img{
    width: 100%;
    height: auto;
    margin-left: 25px;

}

.hero .project-title{
    flex-basis: 40%;
    /* align-self: center; */
    text-align:left;
    padding-right: 30px;
    align-self: flex-start;
}

.project-title p{
    /* padding-top: 30px; */
    flex-basis: 40%;
    align-self: center;
}


.cover .roleTools{
    padding-left:10px;
    text-align: left;
    align-self: center;
    margin-right:180px;   
}

.roleTools p.category{
    margin:0px 0px 0px 0px;  
}


.cover .spec{
    flex-basis: 60%;
    display: flex;
    /* align-self: right;
    padding: 25px; */
    justify-content:space-around;
    margin-top: 10px;
    margin-left: 55px;
}

.spec .role{
    flex-basis: 26%;
    border-top: #F05B5C solid 2px; 
    padding-top:8px;
    border-width: fit-content;

}

.spec .role p.category{
    margin:0px;
    font-size: 1.1rem;
}

.cover .empty{
    flex-basis: 40%; 
}

@media screen and (max-width: 860px) {
    .hero{
        flex-wrap: wrap;
        justify-content: center;
    }
    .project-hero .cover{
        display: block;
    }
    .project-hero .cover .project-title{
        display: block;
        text-align: center;
        padding-right: 0%;
    }
    .project-hero .cover .project-img{
        display: block;
        text-align: center;
        padding-left: 0%;
        width: 80%;
        height: auto;
    }
    .spec{
        flex-wrap: wrap;
        justify-content: center;

    }

}

/* end hero */

/* start nav in-page */
.in-page {
    position: fixed;
    top: calc(50vh - 75px);
    left:-25px;
    
}

.in-page ul {
    position:absolute;
    list-style: none;
}

.in-page ul li {
    margin-bottom: 15px;
    border: 3px solid #F05B5C;
    /* background-color:#0D87DB; */
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    border-radius: 20px;
}

.in-page ul li a {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 20px;
    font-family: "Quicksand";
    font-weight: 600;
    color:#121212;
    text-decoration: none;
    line-height: 0.938rem;
}

.in-page ul li:hover,
.in-page ul li.active {
    background-color: #F05B5C;
    text-indent: 25px;
}

.in-page ul li a.project-empathise{
    background-image:url(../images/Research.svg);
    opacity: 100%;
}

.in-page ul li a.project-empathise:hover{
    background-image:url(../images/Research.svg);
    opacity: 50%;
}

.in-page ul li a.project-empathise:active{
    background-image:url(../images/Research.svg);
    opacity: 0%;
}

/* 
@media (min-height: 300px) {
    nav.in-page ul {
        
      position: sticky;
      top: 0;

    }
  } */
/* end nav in-page */

/* start research section */

.project-empathise{
    display: block;
    background-color: #fcf6f4;
    background-blend-mode: overlay;
    padding: 30px 50px 0px 50px;
    border-radius: 30px;
    margin-bottom: 25px; 
}

/* intro section */
.section-intro{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.section-intro figure.index-method{
    align-self: center;
}
.section-intro h3{
    align-self: center;
    margin:0px;
}

.intro-txt{
    align-items: center;
    margin: 0px 70px 0px 70px;
}
.intro-txt p{
    text-align: center;
}

.division{
    align-self: center;
    display: inline-flex;
    margin: 0px 70px 30px 70px;
    align-items: center ;
}

.division .dot{
    background-color: #F05B5C;
    border-radius: 1em;
    height: 1em;
    width: 1em;
    margin-top: 10px;
    margin-right: 10px;
}

.division .line{
    background-color: #F05B5C;
    border-radius: 1em;
    height: 1em;
    width: 4em;
    margin: 10px 10px 0px 0px;
}

@media screen and (max-width: 860px) {
    .intro-txt{
        margin: 0px;
    }

    .division{
        align-self: center;
        display: inline-flex;
        margin: 0px 70px 0px 70px;
        align-items: center ;
    }
}

/* end intro section */

/* quote stile*/


.project-empathise .thwothird{
    margin: 25px 0px;
}

.row{
    display: flex;
    align-content: center;
    margin:50px;
    padding: 25px; 
}


.quote{
    margin-right: 50px;
    width: 60%;
    flex-direction: row;
}


.quote img{
    width: 80px;
}

h2.quote-txt{
    font-family: "Open Sans";
    font-size: 3.5rem;
    font-weight: 200;
    font-style: italic;
    line-height: 4.5rem;
    color: #383838;
    margin-left: 35px;  
}



.twothird-txt{
margin-left: 40px;
width: 40%;
}

.twothird-txt h4{
    margin-top:30px;
    margin-bottom: 0px;
}

.twothird-txt ul{
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 200;
    line-height: 1.8em;
}
@media screen and (max-width: 860px) {
    .project-empathise .thwothird{
        display:flex;
        flex-wrap: wrap;
    }

    .quote{
        margin-right: 0px;
        width: 100%;
        margin-bottom: 10px;
    }

    .twothird-txt{
        margin-left: 0px;
        width: 100%;
       
    }

    .row{
        display: flex;
        align-content: center;
        margin:0px;
        padding: 25px; 
    }
    

}

/* end quote style*/



.project-define{
    display: block;
    background-color: #fcf6f4;
    background-blend-mode: overlay;
    padding: 30px 50px 0px 50px;
    border-radius: 30px;
    margin-bottom: 25px;    
}

/* img fullwidth style*/

.fullwidth-img{
    flex-direction: column;
}

.txt-line{
    display: flex; 
    justify-content: center;
    width: 100%;
     
}

.txt-line .left{
    flex-basis: 90%;
    margin: 10px 20px 30px 0px;
    /* border-left: 2px solid #ffffff; */

}

@media screen and (max-width: 860px) {
    .txt-line .left{
        flex-basis: 100%;
        align-self: center; 
        margin: 0px;
        /* border-left: 2px solid #ffffff; */
    
    }
}


.fullwidth-img h4{
    margin: 0px 0px 20px 20px;
}

.txt-line p{
    margin-top: 1.2em;
}

.fullwidth-img img{
    margin-top: 0px;   
}

/* txt fullwidth style*/
/* .row .left-line{
    width:1px;
    height: auto;
    background-color: #F05B5C;
    border-radius: 10px;
} */

.full-width{
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.full-width-txt{
    margin: 0px;
}

.full-width-txt h4{
    text-align:center;
    color: #383838;
}

.full-width-txt p{
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 100;
    font-style: italic;
    text-align:center;
    color: #383838;

}
.division-line-dot{
    align-self: center;
    display: inline-flex;
    margin: 0px 0px 30px 0px;
    align-items: center ;

}

.line{
    height: 0.4em;
    width: 450px;
    background-color: #FCF0EC;
    border-radius: 0.4em;
    margin: 0px 10px;
}

.division-line-dot .dot{
    margin: 0px 10px;
    height: 0.7em;
    width: 0.7em;
    background-color: #FCF0EC;
    border-radius: 0.7em;
}

/* End txt fullwidth style*/

.project-ideate{
    display: block;
    background-color: #fcf6f4;
    background-blend-mode: overlay;
    padding: 35px 50px 0px 50px;
    border-radius: 30px;
    margin-bottom: 25px;
}

.project-prototyping{
    display: block;
    background-color: #fcf6f4;
    background-blend-mode: overlay;
    padding: 35px 50px 25px 50px;
    border-radius: 30px;
    margin-bottom: 25px;
}
   
.project-testing{
    display: block;
    background-color: #fcf6f4;
    background-blend-mode: overlay;
    padding: 35px 50px 0px 50px;
    border-radius: 30px;
    margin-bottom: 25px;
}

/* Prototyping  */

.project-prototyping .prototyping{
    Display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-content: flex-start;

}
.threecolumn-img{
    align-self: flex-start;
    flex-wrap: wrap;
    width:30%;
    margin-bottom: 15px;
}

.threecolumn-img img{
    width: 100%;
}

.onefour-txt{
    width: 60%; 
    margin-left: 5%;
    margin-top: 0px; 
}
.onefour-txt h4{
margin-bottom: 0px;
}


/* Test Section 3 collumn text */
.test{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
@media screen and (max-width: 860px) {
    .test{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

}

.onethird-txt {
    flex-basis: 28%;
    margin-bottom: 30px;   
}

.onethird-txt ul{
    font-family: "Open Sans";
    font-size:0.9rem;
    color: #202020;
    margin:10px;
    list-style-type: none;
    padding:0px;    
    margin: 0px;    
}

.onethird-txt ul li{
   margin-bottom: 15px;
   list-style-type: circle;  
   font-size: 1.3rem;
}

.contact{
    display: block;
    background-color: #fcf6f4;
    background-blend-mode: overlay;
    padding: 30px 50px 30px 50px;
    border-radius: 30px;
    margin-bottom: 25px; 
}

.contact-me{
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.contact-me h4{
    display: inline;
}

.contact-me a{
    font-family: "Quicksand";
    font-size: 24px; 
    font-weight: 500;
    color:#0D87DB;
    text-decoration: none;
    text-align: center;
    display: inline-block;

}

.contact-me a:hover{
    color:#F05B5C;
}

/* Test Section 3 collumn text */
/* hero about page */

.about .full-width{
    display: block;
    text-align: center;
}

.about img{
    border: solid 20px #fff;
    
}

.about-txt{
    display: 100%;
}













