/* Body */
body{
    background-color: #FCF0EC;
}

*{
    box-sizing: border-box;
}

/* Headings and pharagraph styles */

.no-scroll {
    overflow: hidden;
}

h1{ 
    font-family: "Quicksand";
    font-size: 54px;
    color: #F05B5C;
    font-weight: 600;
    line-height: 60px;
    margin: 0;
}

h2{
    font-family: "Quicksand";
    font-size:48px; 
    font-weight: 600;
    color: #121212;
    line-height: 48px;
    margin: 0;
}

@media screen and (max-width: 860px) {
    h2{
        font-size: 36px;
    }
}

h3{
    font-family: "Quicksand";
    font-size:32px; 
    font-weight: 500;
    color: #121212;
}

@media screen and (max-width: 860px) {
    h3{
        font-size: 24px;
    }
}

h4{
    font-family: "Quicksand";
    font-size:24px; 
    font-weight: 500;
    color: #121212;  
}

@media screen and (max-width: 860px) {
    .hero h4{
        font-size: 18px;
    }
}

p{
    font-family:"Open Sans";
    font-size: 18px;
    font-weight:300;
    color: #121212; 
    line-height: 1.8em;  
}

@media screen and (max-width: 860px) {
    p{
        font-size: 14px;
    }
}

.category{
    font-size: 14px;
    color: #202020;
}

@media screen and (max-width: 860px) {
    .category{
        font-size: 12px;
    }
}

/* Header */
#menu{
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-top: 10px;
    box-sizing: border-box;

}

@media screen and (max-width: 860px) {
    #menu {
        height: 60px;
    }
}

#menu .logo {
    margin-left: 50px;
    width: auto;
    height: 80%;
}

@media screen and (max-width: 860px) {
    #menu .logo{
        margin-left: 25px;
    }
}

#menu .logo img{
    width: auto;
    height: 100%;
}

#menu .nav{
    margin-right: 50px;
}

#menu .nav .nav-icon4 {
    display: none;
    width: 40px;
    height: 30px;
    position: relative;
    margin: 0px auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

@media screen and (max-width: 860px) {
    #menu .nav{
        margin-right: 25px;
    }
   #menu .nav .nav-icon4 {
        display: block;
        position: absolute;
        z-index: 9;
        right: 25px;       
    }

    .nav .nav-icon4 span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: #121212;
        border-radius: 5px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
      }

    .nav-icon4 span:nth-child(1) {
        top: 0px;
        transform-origin: left center;
    }

    .nav-icon4 span:nth-child(2) {
        top: 15px;
        transform-origin: left center;
    }

    .nav-icon4 span:nth-child(3) {
        top: 30px;
        transform-origin: left center;
    }

    .nav-icon4.open span{
        background: #FCF0EC;   
    }

    .nav-icon4.open span:nth-child(1) {
        transform: rotate(45deg);
        top: 2px;
        left: 0px;
    }               

    .nav-icon4.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .nav-icon4.open span:nth-child(3) {
        transform: rotate(-45deg);
        top: 30px;
        left: 0px;
    }
    
}

#menu .nav ul {
}

@media screen and (max-width: 860px) {
    #menu .nav ul {
        display:none;   
    }
}

#menu .nav ul li {
    display: inline-block;
    margin: 20px;
    
}

#menu .nav ul li a {
    font-family:"Quicksand";
    font-size: 16px;
    font-weight: 600;
    color: #121212;
    text-decoration: none;
}

#menu .nav ul li a:hover {
   color:#F05B5C;
   transition: color 0.3s ease; 
}

/* Menu mobile */
/* Menu mobile */
.container-mobile{
    display:none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.container-mobile.open {
    display: block;
    background-color: #F05B5C;
    border-bottom-right-radius: 30px;
    align-content: center;
}

.container-mobile ul{
    padding:0px;
    margin-top: 80px;

}

.container-mobile ul li {
    list-style-type:none;
    text-align:center; 
    padding-top: 30px;
    padding-bottom: 30px;
    /* margin:30px;  */
    /* border-top:solid 1px #F05B5C ; */
}
.container-mobile a{
    font-family:"Quicksand";
    font-size: 28px;
    font-weight: 400;
    color: white;
    text-decoration: none 
}

.container-mobile a:hover{
    color: #FCF0EC;
}

/* Main */

.wrapper{
    max-width: 1200px;
    width: 100%;
    display: block;
    margin: auto;
}

/* Hero Section */
.hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    margin-top: 20px;
}

.hero .hero-image{
    flex-basis: 33%;
    align-self: center;
}

.hero-image img{
    width: 100%;
    height: auto;
}

.hero .hero-text{
    flex-basis: 50%;
    align-self: center;
}

.hero-text p.category{ 
    padding-top: 14px;
    color:#121212!important;
    line-height: 50px;
}

.hero-text p.category span{
    display:inline;
    font-weight: 500;
}
.hero-text p.category a {
    color:#0D87DB;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 24px;
    margin-left: 10px;
    background-size: 50px;
    transition: all 0.3s ease;  
    text-decoration: none;
    display:inline-block;
    width: 50px;
    height: 50px;
    text-indent: -99999px;
}

.hero-text p.category a:hover{
    color:#0865A5;
    text-decoration: underline;
    opacity: 0.7;
}

.hero-text p.category a.social-linkedin{
    background-image:url(../images/icon-linkedin.svg);
} 

.hero-text p.category a.social-dribbble{
    background-image:url(../images/icon-dribbble.svg);
}

.hero-text p.category a.social-mail{
    background-image:url(../images/icon-mail.svg);
}


@media screen and (max-width: 860px) {
    .hero{
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero .hero-text h1{
        font-size: 42px;
        line-height: 1.2em;
        text-align: center;
    }

    .hero .hero-image{
        order: 1;
        flex-basis: 60%;
    }

    .hero .hero-text{
        order: 0;
        flex-basis: 80%;
        text-align: center;
        margin-bottom: 20px;
    }

    .hero-text p.category span{
        display: block;
    }
}

/* Skills Section */


.my-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
}

@media screen and (max-width: 720px) {
    .my-skills{
        justify-content: center;
    }
}

.my-skills h3{
    text-align: center;
    flex-basis: 100%;
    margin-bottom: 50px;
}

.skill{
    flex-basis: calc( (100%/3) - 50px ); 
    background-color: white;
    padding: 25px;
    border-top: 3px solid #F05B5C;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

@media screen and (max-width: 1024px) {
    .skill{
        flex-basis: calc( (100%/3) - 15px );
    }
}

@media screen and (max-width: 720px) {
    .skill{
        flex-basis: 100%;
        margin-bottom: 30px;
        max-width: 400px;
    }
}

.skill h4{ 
    text-align: center;
    font-weight: 600;
}

.skill-img{
    margin: auto;
    width: 100%;
    text-align: center;
}

.skill-img img{
    width: 25%;
    height: auto;
    /* margin: auto; */
}

.skill p.category{ 
    color:#121212!important;
    line-height: 1.5;
    font-weight: 300;
}


/* Project Section */

.projects{
        padding: 50px 0;
}

.projects .section-title{
    text-align:center;
}

.project{
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

@media screen and (max-width: 860px) {
    .project{
        flex-wrap: wrap;
        justify-content: center;
    }
}

.project-img{
    flex-basis: 50%;
    margin:0px;
}

@media screen and (max-width: 860px) {
    .project-img{
        flex-basis: 100%;
        margin:0px auto 30px auto;
    }
}

.project-img img{
    width: 100%;
    height: auto;
}

.project-text{
    flex-basis: 45%;
}

@media screen and (max-width: 860px) {
    .project-text{
        flex-basis: 100%;
        max-width: 400px;
        text-align: center;
    }
}

.project-text a{
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
    color: #121212;
    background-image: url(../images/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 26px;
    transition: color 0.3s ease; 
}

.project-text a:hover {
    color:#F05B5C;
    transition: color 0.3s ease;
    background-image: url(../images/arrow-right-red.svg);
 }
 
.project:nth-of-type(odd){
}

.project:nth-of-type(even){
    flex-direction: row-reverse;
}

.project:nth-of-type(even) .project-img{
    flex-basis: 45%;
}

@media screen and (max-width: 860px) {
    .project:nth-of-type(even) .project-img{
        flex-basis: 100%;
    }
}

.project:nth-of-type(even) .project-text{
    text-align: right;
    flex-basis: 50%;
}

@media screen and (max-width: 860px) {
    .project:nth-of-type(even) .project-text{
        flex-basis: 100%;
        text-align: center;
    }
}

/* Footer*/
/* Footer*/
footer{
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

footer .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

footer .wrapper .footer-connect{
    display: inline-flex;
    flex-direction: row; 
    align-items: center;
}

footer .wrapper .brand{
   align-items: center;
   display: inline-flex;
   flex-basis: auto;
}

.brand img{
    height: 30px;
    width: auto;
    margin-right: 15px;
}

footer p{
    font-size: 10px;
    line-height: 1.5em;
    text-align: right;
}

footer ul.social{
    padding:0;
}

footer ul.social li{
    display: inline-block;  
}

footer a.footer-linkedin{
    display: block;
    width: 50px;
    height: 50px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-image: url(../images/icon-linkedin.svg);
    margin-left: 15px;
}

footer a.footer-dribbble{
    display: block;
    width: 50px;
    height: 50px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-image: url(../images/icon-dribbble.svg);
}

footer a.footer-email{
    display: block;
    width: 50px;
    height: 50px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-image: url(../images/icon-mail.svg);
}

a.contact{ 
    font-family:"Vollkorn";
    font-size: 20px;
    font-weight: regular;
    color:#121212;
    text-decoration: none;  
}

a:hover {
    opacity: .8;
    transition: color 0.3s ease;  
}

@media screen and (max-width: 860px) {
    footer{
        margin-bottom: 40px;
    }
    footer .wrapper{
        flex-direction: column;
    }
    footer .wrapper .footer-connect{
        flex-direction: column; 
    }
    footer .wrapper .footer-connect h4{
        text-align: center;
        line-height: 0;
    }
    footer a.footer-linkedin{
        margin-left: 0px;  
    }
    footer .wrapper .footer-connect{
        flex-wrap: wrap;
        justify-content: center;
    }  
    footer a.footer-email{
        margin-right: 0px;  
    }
    footer p{
        text-align: center;
    }
}

/* ------------------------------------------
------------PROJECT PAGE STYLES -------------
-------------------------------------------*/

/* start hero */

.breadcrumbs{
    padding-top: 20px;
    padding-left: 50px;
    /* margin-left:24px; */
}
ul.pagination{
    padding: 5px 15px;
    background-color:#fcf6f4;
    border-radius: 30px;
    width: fit-content;
}

ul.pagination li{
    /* margin:10px; */
    display: inline;
    align-self: left;
    font-family: "Open Sans";
    font-size: 12px;
    color:#121212;
}

ul.pagination li+li:before {
    padding: 8px;
    color: #121212;
    content: "/\00a0";
}

ul.pagination li a{
    color: #0D87DB;
    text-decoration: none;
}

ul.pagination li a:hover{
    color:#0865A5;
    transition: color 0.3s ease;
}

.project-hero{
    display: block;
    padding: 10px 50px 30px 50px;
}

.project-hero .cover{
    display:flex;
    align-content:center; 
    padding: 30px 0px 0px 0px;

}
.hero .project-img{
    flex-basis: 60%;
    flex-direction:row ;
    align-self: right;
}

.project-img img{
    width: 100%;
    height: auto;
    margin-left: 25px;

}

.hero .project-title{
    flex-basis: 40%;
    /* align-self: center; */
    text-align:left;
    padding-right: 30px;
    align-self: flex-start;
}

.project-title p{
    /* padding-top: 30px; */
    flex-basis: 40%;
    align-self: center;
}

.cover .line-vertical{
    height: 11em;
    width: 0.6em;
    background-color: #F05B5C;
    border-radius: 1em;
    margin:0px 15px 0px 540px;
    align-self: center;
}

.cover .roleTools{
    padding-left:10px;
    text-align: left;
    align-self: center;
    margin-right:180px;
    
}

.roleTools p.category{
    line-height: 16px;
    font-size:12px; 
    margin:0px 0px 0px 0px;
    
}


.cover .spec{
    flex-basis: 60%;
    display: flex;
    /* align-self: right;
    padding: 25px; */
    justify-content:space-around;
    margin-top: 10px;
    margin-left: 55px;
}

.spec .role{
    flex-basis: 26%;
    border-top: #F05B5C solid 1px; 
    padding-top:8px;
    border-width: fit-content;

}

.spec .role p.category{
    margin:0px;
    font-size: 12px;
}

.cover .empty{
    flex-basis: 40%;   
}

/* end hero */

/* start nav in-page */
.in-page{
    display:none;
}
.in-page ul{
    list-style: none;
    font-family: "Quicksand";
    font-weight: 400;
}
@media (min-height: 300px) {
    nav.in-page ul {
      position: sticky;
      top: 0;
    }
  }
/* end nav in-page */

/* start research section */

.project-empathise{
    display: block;
    background-color: #fcf6f4;
    background-blend-mode: overlay;
    padding: 50px;
    border-radius: 30px;
}

.section-intro{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.section-intro figure.index-method{
    align-self: center;
}
.section-intro h3{
    align-self: center;
    margin:0px;
}

.intro-txt{
    align-items: center;
    margin: 0px 70px 0px 70px;
}
.intro-txt p{
    text-align: center;

}

.division{
    align-self: center;
    display: inline-flex;
    margin: 0px 70px 50px 70px;
    align-items: center ;
}

.division .dot{
    background-color: #F05B5C;
    border-radius: 1em;
    height: 1em;
    width: 1em;
    margin-right: 10px;
}

.project-empathise .user-research{
    margin: 25px 0px;
}

.row{
    display: flex;
    align-content: center;
    margin:50px; 
}

.quote{
    margin-right: 50px;
    width: 60%;
    flex-direction: row;
}


.quote img{
    width: 80px;
}

h2.quote-txt{
    font-family: "Open Sans";
    font-size: 46px;
    font-weight: 200;
    font-style: italic;
    line-height: 1.31em;
    color: #383838;
    margin-left: 35px;  
}

.twothird-txt{
margin-left: 40px;
width: 40%;
}

.twothird-txt h4{
    margin-top:30px;
    margin-bottom: 0px;
}

.twothird-txt ul{
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 200;
    line-height: 1.8em;
}
  


.project-define{
    display: block;
    padding: 50px;
}





